@import "../../assets/styles/variables.scss";
@import "../../assets/styles/mixins.scss";

.nav__item {
  @include text_style("Roboto", 500, 20px, 0.85, $primary);
  text-decoration: none;
  font-variant: small-caps;
  cursor: pointer;
  margin-left: 80px;
  display: flex;
}
.img {
  height: 14px;
  padding-left: 7px;
  margin-top: 3px;
}

/*------------ADAPTIVE VERSION (START)------------*/
@media screen and (min-width: 1200px) and (max-width: 1439px) {
  .nav__item {
    margin-left: 45px;
  }
}
/*------------ADAPTIVE VERSION FOR TABLET(START)------------*/
@media (max-width: 1199px) {
  .nav__item {
    display: none;
  }
}

/*------------ADAPTIVE VERSION FOR TABLET(END)------------*/
/*------------ADAPTIVE VERSION(END)------------*/
