@import "../../assets/styles/variables.scss";
@import "../../assets/styles/mixins.scss";

.nv__body {
  display: flex;
  align-items: center;
  margin-right: 58px;
  white-space: nowrap;

  .nv__body img {
    min-width: 49px;
    min-height: 28px;
  }
  .link {
    @include text_style("Roboto", 500, 20px, 0.95, $blue);

    font-variant: small-caps;
    text-decoration: none;
    padding-left: 10px;
    display: flex;
  }
  .link img {
    padding-left: 10px;
  }
}

/*------------ADAPTIVE VERSION (START)------------*/
@media screen and (min-width: 1200px) and (max-width: 1439px) {
  .nv__body {
    margin-right: 40px;
  }
}
/*------------ADAPTIVE VERSION FOR TABLET(START)------------*/
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .nv__body {
    margin-bottom: 15px;

    width: 50%;
    margin-right: 0;
  }
  .nv__body img {
    width: 42px;
    height: 24px;
  }
  .nv__body .link {
    padding-left: 8px;
    @include text_style("Roboto", 500, 16px, 1.1, $blue);
  }
  .nv__body .link img {
    height: 16px;
    object-fit: contain;
    padding-left: 0px;
  }
}

/*------------ADAPTIVE VERSION FOR TABLET(END)------------*/
/*------------ADAPTIVE VERSION FOR MOBILE DEVICES(START)------------*/
@media (max-width: 767px) {
  .nv__body {
    margin-bottom: 15px;
  }

  .nv__body img {
    width: 42px;
    height: 24px;
  }
  .nv__body .link {
    display: flex;
    padding-left: 8px;
    @include text_style("Roboto", 500, 16px, 0.92, $blue);
  }
  .nv__body .link img {
    height: 16px;
    object-fit: contain;
    padding-left: 0px;
  }
}
/*------------ADAPTIVE VERSION FOR MOBILE DEVICES(END)------------*/
/*------------ADAPTIVE VERSION(END)------------*/
