$body: #e5e5e5;
$white: #ffffff;
$primary: #393838;
$blue: #197acf;
$gray: #8a8b94;
$gray_two: #6a6b74;
$gray_input: #bdbec1;

// градиент кнопки хедера
$blue1: #30b3ed;
$blue2: #299ee2;
$blue3: #258bd7;
$blue4: #44a1e0;
$blue5: #51a8e3;
