@import "../../../../assets/styles/variables.scss";
@import "../../../../assets/styles/mixins.scss";

.card__box {
  display: flex;
  flex-direction: column;
  height: 100%;

  .card__header {
    display: flex;
    background-color: $white;
    border-top-right-radius: 20px;
    background-color: transparent;

    .header-left {
      padding: 38px 40px;
      background-color: $body;
      position: relative;
    }

    .header-left:before {
      @include card_corner();
      @include card_corner_before();
    }

    .header-left:after {
      @include card_corner();
      @include card_corner_after();
    }

    .header-right {
      background-color: $white;
      border-top-right-radius: 20px;
      border-top-left-radius: 20px;
      padding: 26px 0px 0px 40px;

      width: 100%;
    }

    .header-right p {
      @include text_style("Montserrat", 600, 28px, 1.06, $primary);

      text-align: left;
      text-transform: lowercase;
      margin: 0px;
    }
  }

  .card__body {
    padding: 54px 30px 31px 40px;

    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

    background-color: $white;

    display: flex;
    flex-direction: row;
    position: relative;
    overflow: hidden;

    height: 100%;

    .gradi {
      position: absolute;
      width: 100%;
      left: 0px;
      right: 0px;
      opacity: 0;
      bottom: 0;
      object-fit: cover;

      transition: opacity 0.4s ease-in-out;
      z-index: 0;
      &:hover {
        opacity: 1;
      }
    }

    .card__btn button {
      padding-right: 70px;
    }

    .card__content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      text-align: left;
      width: 100%;
      min-width: 200px;
      z-index: 1;
    }

    .card__content p {
      @include text_style("Roboto", 400, 18px, 1.02, $primary);
      margin-top: 0;
      max-width: 325px;
    }

    .card__content span {
      @include text_style("Roboto", 400, 15px, 1, $blue);

      padding-bottom: 10px;
      white-space: normal;
    }
  }
  .card__body:hover {
    cursor: pointer;
  }
  .card__btn-screen {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .card__btn-screen button {
    padding-right: 70px;
    @include reset_cardGradient_btn();
  }

  .card__btn-adptv {
    display: none;
  }
}

// CardMain
.cardMain__box {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  .cardMain__header {
    display: flex;
    background-color: $white;
    border-top-right-radius: 20px;
    background-color: transparent;

    .headerMain-left {
      padding: 38px 40px;
      background-color: $body;
      position: relative;
    }

    .headerMain-left:before {
      @include card_corner();

      @include card_corner_before();
    }

    .headerMain-left:after {
      @include card_corner();
      @include card_corner_after();
    }

    .headerMain-right {
      background-color: $white;
      border-top-right-radius: 20px;
      border-top-left-radius: 20px;

      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;

      width: 100%;
      padding: 26px 0px 0px 40px;

      z-index: 12;
      box-shadow: 0px 6px 0px 0px $white;
    }

    .headerMain-right p {
      @include text_style("Montserrat", 600, 28px, 1.06, $primary);
      margin: 0px;
      text-transform: lowercase;
      z-index: 99;
    }

    .headerMain-right div {
      @include text_style("Roboto", 500, 16px, 0.9, $blue);

      display: flex;
      gap: 13px;
      font-variant: small-caps;
      z-index: 99;
    }
  }

  .cardMain__body {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

    background-color: $white;
    display: flex;
    flex-direction: row;
    padding: 0px 59px 10px 40px;
    height: 100%;
    position: relative;
    // overflow: hidden;
    width: 100%;

    position: relative;
    .gradi_main {
      position: absolute;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
      left: 0px;
      right: 0px;
      opacity: 0;
      bottom: 0;
      object-fit: cover;
      width: 100%;
      height: 100%;

      transition: opacity 0.4s ease-in-out;
      z-index: 15;

      &:hover {
        cursor: pointer;
        opacity: 1;
      }
    }

    .block_info {
      display: none;
    }
  }
  .cardMain__body:hover {
    cursor: pointer;
  }

  .cardMain__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    width: 50%;
    z-index: 80;
  }

  .cardMain__content p {
    @include text_style("Roboto", 500, 16px, 1, $gray);
    text-align: left;
    font-variant: small-caps; // eslint-disable-next-line

    margin-bottom: 39px;
  }

  .gif {
    width: 65%;
    height: 100%;

    position: absolute;
    right: 59px;

    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    z-index: 14;

    img {
      width: 37vw;

      height: 31vw;

      object-fit: cover;
      object-position: bottom;
    }
  }
}

.gif-tablet {
  display: none;
}

/*------------ADAPTIVE VERSION (START)------------*/

@media screen and (min-width: 1200px) and (max-width: 1470px) {
  .cardMain__box .cardMain__content {
    width: 64%;
  }

  .cardMain__box .gif {
    right: 14px;
  }

  .cardMain__box .cardMain__body {
    padding: 0px 59px 0px 35px;
  }

  .gif-tablet {
    display: none;
  }

  .cardMain__box .cardMain__header .headerMain-right p {
    @include text_style("Montserrat", 600, 22px, 1.06, $primary);
    line-height: 1.5;
  }
  .card__box .card__header .header-right p {
    @include text_style("Montserrat", 600, 22px, 1.06, $primary);
    line-height: 1.5;
  }
}

/*------------ADAPTIVE VERSION FOR TABLET(START)------------*/
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .screen__wrap .screen__title {
    padding: 20px 11px 3px 17px;

    .title-up {
      flex-direction: column;

      .title__left {
        @include text_style("Montserrat", 600, 40px, 0.9, $primary);
        max-width: 640px;
        margin-bottom: 13px;
      }

      .title__right {
        max-width: 300px;
        text-align: left;
        margin: 0px 0px 81px 0px;
      }
    }

    .navi {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
  .card__box .card__header {
    border-radius: 16px;
  }
  .card__box .card__header .header-left {
    padding: 20px 20px;
  }
  .card__box .card__header .header-left::before {
    height: 16px;
    border-top-left-radius: 16px;
  }
  .card__box .card__header .header-left::after {
    height: 16px;

    border-bottom-right-radius: 16px;
  }

  .screen__wrap .screen__content .card__box .card__header .header-right {
    padding: 11px 20px 0 38px;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
    p {
      @include text_style("Montserrat", 600, 26px, 1.1, $primary);
    }
  }

  .card__box .card__body {
    padding: 0px 20px 30px 20px;

    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    .gradi {
      display: none;
    }
  }

  .card__box .card__body .card__content {
    padding-top: 19px;
    width: 100%;
    max-width: 77%;
  }

  .card__box .card__body .card__content span {
    padding-bottom: 8px;
  }

  .card__box .card__body .card__btn-adptv {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .card__box .card__body .card__btn-adptv button {
    display: block;
    padding-right: 60px;
    @include reset_cardGradient_btn();
  }

  .card__box .card__body .card__btn-screen button {
    display: none;
  }

  .cardMain__box .cardMain__header {
    border-radius: 16px;
  }
  .cardMain__box .cardMain__header .headerMain-left {
    padding: 20px 20px;
  }
  .cardMain__box .cardMain__header .headerMain-left::before {
    height: 16px;
    border-top-left-radius: 16px;
  }
  .cardMain__box .cardMain__header .headerMain-left::after {
    height: 16px;

    border-bottom-right-radius: 16px;
  }

  .screen__wrap
    .screen__content
    .cardMain__box
    .cardMain__header
    .headerMain-right {
    flex-direction: row;
    padding: 11px 20px 0 38px;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;

    p {
      @include text_style("Montserrat", 600, 25px, 1.06, $primary);
    }

    div {
      margin-top: 6px;
      gap: 13px;
      display: flex;
    }
  }

  .cardMain__box .cardMain__body {
    padding: 0px 20px 30px 20px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
  }
  .cardMain__box .cardMain__body .gradi_main {
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
  }

  .cardMain__box .cardMain__content {
    width: 100%;
  }

  .cardMain__box .gif {
    display: none;
  }

  .cardMain__box .gif-tablet {
    width: 367px;
    height: 301px;
    display: block;
    margin: 57px auto 80px auto;

    img {
      width: 100%;
      height: auto;
    }
  }
}

/*------------ADAPTIVE VERSION FOR TABLET(END)------------*/
/*------------ADAPTIVE VERSION FOR MOBILE DEVICES(START)------------*/
@media (max-width: 767px) {
  .card__box .card__header {
    border-radius: 8px;
  }
  .cardMain__box .cardMain__header .headerMain-left {
    padding: 15px 15px;
    border-bottom-right-radius: 8px;

    box-shadow: 4px 4px 8px 0px rgb(255, 255, 255);

    img {
      height: 15px;
      width: 17px;
    }
  }
  .cardMain__box .cardMain__header .headerMain-left::before {
    height: 8px;
    border-top-left-radius: 8px;
  }
  .cardMain__box .cardMain__header .headerMain-left::after {
    height: 8px;
    right: -6px;
    bottom: -6px;
    border-bottom-right-radius: 8px;
  }

  .screen__wrap
    .screen__content
    .cardMain__box
    .cardMain__header
    .headerMain-right {
    flex-direction: column;
    padding: 10px 0px 0 15px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;

    p {
      @include text_style("Montserrat", 600, 20px, 1.06, $primary);
      text-align: left;
      white-space: nowrap;

      @media (max-width: 350px) {
        white-space: normal;
      }
    }

    div {
      display: none;
    }
  }

  .screen__wrap .screen__content .cardMain__box .cardMain__body {
    padding: 0px 10px 0px 10px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;

    .block_info {
      order: 1;
      margin: auto auto 76px 55px;
      @include text_style("Roboto", 500, 16px, 0.9, $blue);

      display: flex;
      gap: 13px;
      font-variant: small-caps;
      z-index: 99;
    }
  }
  .cardMain__box .cardMain__body .gradi_main {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  .screen__wrap .screen__content .cardMain__box .cardMain__body .gif-tablet {
    width: 349px;
    height: 286px;
    display: block;
    margin: 0 auto;

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }

  .card__box .card__header .header-left {
    padding: 15px 15px;
    border-bottom-right-radius: 8px;

    box-shadow: 4px 4px 8px 0px rgb(255, 255, 255);
    img {
      height: 15px;
      width: 17px;
    }
  }
  .card__box .card__header .header-left::before {
    height: 8px;
    border-top-left-radius: 8px;
  }
  .card__box .card__header .header-left::after {
    height: 8px;
    right: -6px;
    bottom: -6px;
    border-bottom-right-radius: 8px;
  }

  .screen__wrap .screen__content .card__box .card__header .header-right {
    padding: 10px 38px 0 15px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;

    p {
      @include text_style("Montserrat", 600, 20px, 1.06, $primary);
    }
  }

  .card__box .card__body {
    padding: 0px 10px 30px 10px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    .gradi {
      display: none;
    }
  }

  .card__box .card__body .card__content {
    padding-top: 32px;
  }

  .card__box .card__body .card__content span {
    padding-bottom: 0px;
  }

  .card__box .card__body .card__content p {
    font-size: 15px;
    // max-width: 252px;
  }

  .card__box .card__body .card__btn button {
    padding-right: 25px;
  }

  .card__box .card__body .card__content span {
    line-height: 1;
    white-space: normal;
    max-width: 200px;
  }

  .card__box .card__body .card__btn-adptv {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .card__box .card__body .card__btn-adptv button {
    display: block;
    padding-right: 28px;
    padding-bottom: 5px;
    @include reset_cardGradient_btn();
  }

  .card__box .card__body .card__btn-screen button {
    display: none;
  }

  .cardMain__box .cardMain__body {
    padding: 76px 10px 30px 10px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
  }

  .cardMain__box .cardMain__content {
    width: 100%;
  }

  .cardMain__box .cardMain__content p {
    margin-top: 56px;
  }

  .cardMain__box .gif {
    display: none;
  }

  .cardMain__box .gif-tablet {
    width: 100%;
    height: 50%;

    display: block;
  }

  .cardMain__box .gif-tablet img {
    width: 95%;
  }
}

@media (max-width: 414px) {
  .screen__wrap
    .screen__content
    .cardMain__box
    .cardMain__header
    .headerMain-right
    p {
    @include text_style("Montserrat", 600, 20px, 1.06, $primary);
    padding-bottom: 2px;
  }

  .screen__wrap .screen__content .cardMain__box .cardMain__body .gif-tablet {
    width: auto;
    height: 286px;
  }
}
@media (max-width: 350px) {
  .screen__wrap .screen__content .cardMain__box .cardMain__body .block_info {
    margin-top: 20px;
  }
}

/*------------ADAPTIVE VERSION FOR MOBILE DEVICES(END)------------*/
/*------------ADAPTIVE VERSION(END)------------*/
